
body {
    padding: 25px;
    background-color: rgb(31, 29, 29);
    color: whitesmoke;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}

.light-mode {
    background-color: whitesmoke;
    color: rgb(31, 29, 29);
}